{% extends 'shopping_lists/base.html' %}
{% block title %}
    Dashboard
{% endblock %}
{% block content %}
    <div class="row" style="margin-top:-20px">
        <div class="col-md-8 ml-auto mr-auto">
            <div class="card card-plain" style="color:black">
                <div class="card-body bg-white">
                    <form class="form" method="POST">
                        {% csrf_token %}
                        <span>
                        <div class="input-group form-group-no-border input-lg">
                            {{ form.name }}
                        </div>
                            <button type="submit"
                                    class="btn btn-primary btn-round btn-lg btn-block">
                                ADD
                            </button>
                    </span>
                    </form>
                    <div class="table-responsive ">
                        <table class="table">
                        {% if shopping_lists %}
                            <thead class="">
                            <tr>
                                <th class="text-center">
                                    #
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>

                                </th>
                                <th class="text-center">
                                    Since
                                </th>
                                <th class="text-right">
                                    Last Updated
                                </th>
                                <th class="text-right">
                                    Actions
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for list in shopping_lists %}
                                <tr>
                                    <td class="text-center">
                                        {{forloop.counter}}
                                    </td>
                                    <td>
                                        {{ list.name }}
                                    </td>
                                    <td>
                                        <a style="color: blue" href="#">Details</a>
                                    </td>
                                    <td class="text-center">
                                        {{ list.date_created }}
                                    </td>
                                    <td class="text-right">
                                        {{ list.date_updated | default:"None" }}
                                    </td>
                                    <td class="text-right">
                                        <button type="button" rel="tooltip"
                                                class="btn btn-info btn-icon btn-sm "
                                                data-original-title="" title="">
                                            <i class="now-ui-icons users_single-02"></i>
                                        </button>
                                        <button type="button" rel="tooltip"
                                                class="btn btn-success btn-icon btn-sm "
                                                data-original-title="" title="">
                                            <i class="now-ui-icons ui-2_settings-90"></i>
                                        </button>
                                        <button type="button" rel="tooltip"
                                                class="btn btn-danger btn-icon btn-sm "
                                                data-original-title="" title="">
                                            <i class="now-ui-icons ui-1_simple-remove"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        {% else %}
                            <br>
                            <br>
                            <thead>
                            <tr>
                                ********** NO SHOPPING LISTS FOUND PLEASE CREATE ONE **********
                            </tr>
                            </thead>
                        {% endif %}
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div>
{% endblock %}
